:root {
    /* colors */
    --neutral-0: #FFFFFF;
    --neutral-10: #E8E8E8;
    --neutral-20: #d1d1d1;
    --neutral-60: #767676;
    --neutral-100: #202020;

    --red-60: #ec0000;
    --red-80: #b70000;

    --blue-60: #004699;
    --blue-80: #003677;
}

body {
    background: var(--neutral-10);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

