:root {
  /* ================================
       KLEUREN MARK: Variables
       ================================ */

  /* Rood (primaire merkkleur) */
  --ams-color-red: #ec0000;
  --ams-color-red-dark: #c20000;
  --ams-color-red-light: #f9cccc;

  /* Zwart & Grijs */
  --ams-color-black: #000000;
  --ams-color-grey-5: #323232;
  --ams-color-grey-4: #767676;
  --ams-color-grey-3: #b4b4b4;
  --ams-color-grey-2: #e6e6e6;
  --ams-color-grey-1: #f5f5f5;
  --ams-color-white: #ffffff;

  /* Blauw */
  --ams-color-blue: #004699;
  --ams-color-blue-dark: #003570;
  --ams-color-blue-light: #cce0f5;

  /* Groen */
  --ams-color-green: #009900;
  --ams-color-green-dark: #007700;
  --ams-color-green-light: #ccf0cc;

  /* Oranje (medium severity) */
  --ams-color-orange: #ff9100;
  --ams-color-orange-dark: #cc7400;
  --ams-color-orange-light: #ffe5b2;

  /* red  */
  --ams-color-orange: #ff0000;
  --ams-color-orange-dark: #670000;
  --ams-color-orange-light: #ffd3d3;

  /* ================================
       TYPOGRAFIE MARK: Typografie
       ================================ */

  --ams-font-family: "Amsterdam Sans", system-ui, -apple-system, sans-serif;

  --ams-font-weight-light: 200;
  --ams-font-weight-regular: 400;
  --ams-font-weight-semibold: 600;
  --ams-font-weight-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ams-font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
